/* WRAPPERS */

.wrapper {
  width: 90%;
  margin-inline: auto;
}

.wrapper2 {
  width: 95%;
  margin-inline: auto;
}

/* BUTTONS */

.primaryButton {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1em 2em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;

  &:hover {
    outline: 2px solid var(--primary-color);
    background-color: #ffffff;
    color: var(--secondary-color);
  }
}

/* GLASS EFFECT */

.glassEffect {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-background-filter: blur(10px);
}

/* PATTERN */ 

.patternSection {
  position: relative;
}

.patternSection::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: radial-gradient(circle, #cccccc 2px, transparent 2px);
  background-size: 25px 25px;
  z-index: 0;
}

.patternSection::content {
  position: relative;
  z-index: 1;
}

