.blogSection {
  margin-block: 3em;
  padding-block: 6em;
}

.blogContainer {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/* Div 1 */
.blogDivTopLeft {
  grid-area: 1/1/3/3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogImgLeftDiv {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("/images/img6.png");
  background-size: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* Div 2 */
.blogDivBottomLeft {
  position: relative;
  grid-area: 3/1/6/4;
  background-color: inherit;
}

.blogImgBottomDiv {
  position: absolute;
  right: 0;
  width: 300px;
  height: 300px;
  background-image: url("/images/img5.png");
  background-size: cover;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.ourBlogDiv {
  position: absolute;
  top: -10;
  right: 20;
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 30px grey;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  background-color: white;
  transition: 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
  }
}

/* Div 3 */
.blogDivTopRight {
  grid-area: 1/3/3/6;
  background-color: inherit;
  margin-right: 5em;
}

/* Div 4 */
.blogDivBottomRight {
  position: relative;
  grid-area: 3/4/6/6;
  background-color: inherit;
}

.blogImgRightDiv {
  position: absolute;
  top: -20;
  right: 30;
  width: 200px;
  height: 200px;
  background-image: url("/images/img6.png");
  background-size: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* ------------------------------------- */

@media (max-width: 768px) {
  .blogImgLeftDiv, 
  .blogImgRightDiv {
    display: none;
  }

  .blogDivTopLeft, .blogDivBottomRight {
    display: none;
  }

  .blogDivTopRight {
    grid-area: 1/1/1/6;
    width: 100%;
  }

  .blogDivBottomLeft {
    grid-area: 5/6/2/1;
    text-align: center;
  }

  .blogImgBottomDiv {
    left: 25%;
    bottom: -10%;
  }

  .ourBlogDiv {
    width: 80%;
    left: 50;
    margin-top: 1em;
  }
}

@media (max-width: 580px) {
  .ourBlogDiv {
    font-size: 0.8em;
    width: 90%;
    margin-inline: auto;
    left: 0;
  }

  .blogImgBottomDiv {
    margin-inline: auto;
    left: 0;
    bottom: -20%;
    width: 80%;
  }
}

@media(max-width: 425px) {
  .blogImgBottomDiv {
    left: 0;
    width: 100%;
    bottom: -40%;
  }
  .ourBlogDiv {
    font-size: 0.8em;
    width: 100%;
    left: 0;
    right: 0;
  }
  
}