.signUpSection {
    background-color: var(--backgroundSection-color);
    margin-block: 3em;
    padding-block: 2em;
}

.signUpContainer {
    border: 1px solid black;
}

.signUpBoxDiv {
    background-color: pink;
    width: 50%;
    margin-inline: auto;
    padding: 2em;
    height: 100%;
    text-align: center;
}

.signUpBoxDiv h2 span {
    font-weight: 300;
}

/* -------------------------- */

.signUpWithGoogleButton {
    border: 2px solid var(--primary-color);
    padding: 1em 2em;
    width: 80%;
    border-radius: 50px;
    margin-top: 2em;
    color: var(--primary-color);
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

/* -------------------------- */

.orDiv {
    border: 1px solid black;
}

/* -------------------------- */
.signUpInputDiv {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-block: 1em;
}
.passwordInputWrapper {
    display: flex;
}

.inputPasswordField {
   width: 100%;
}

.showPasswordBtn {
  background: transparent;
  cursor: pointer;
  font-size: 10px;
}

/* ---------------------------- */

.checkDiv {
    text-align: start;
    font-size: 0.6em;
    opacity: 0.8;
}